.add-new-form {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.add-new-form input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
  color: #555;
  background-color: transparent;
}

.add-new-form input::placeholder {
  color: #aaa;
}